#container
  #topbar
    %a#logo{ href: '#' } Message
    
    #location
      #placemark
      %input{ type: 'text', value: '/message/blah/foo/kuso/' }
      #refresh
      
    #top-buttons
      %a#publish{ href: '#'} Publish
      %a#preview{ href: '#'} Preview
      %a#logout{ href: '#'} Logout
  
  #bubbles
  
  #sidebar
    #tree
    #extra
    
  #main= ''