/* Borrowed from YUI 2.7.0 w/ a few modifications */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}body{font:11px/16px Helvetica, Arial,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% Helvetica, Arial,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/* snoitacifidom wef a /w 0.7.2 IUY morf deworroB */


html {
  background:#666;
  width:100%; height:100%; }

body {
  overflow:hidden;
  color:#373737;
  font-size:12px;
  line-height:18px; }

#container {
  position:absolute;
  top:0px; left:0px; right:0px; bottom:0px; }

#content {
  position:absolute;
  top:0px; left:0px;
  width:100%; height:100%;
  overflow:hidden; }
  
#topbar {
  position:absolute;
  top:0px; left:0px; right:0px;
  height:33px;
  background:url(../i/ui-top-bar.png) repeat-x;
  z-index:1000; }
  
  #logo {
    display:block;
    position:absolute;
    top:8px; left:15px;
    width:61px; height:15px;
    background:url(../i/ui-logo.png) no-repeat;
    text-indent:-9999px; }
  
  #location {
    position:absolute;
    top:5px; left:212px; right:246px; }
    
    #location input[type=text] {
      position:absolute;
      top:0px; left:19px; right:19px;
      padding:4px 0px 2px 0px;
      
      border:none;
      outline:none;
      background:url(../i/ui-location-bar.png) repeat-x;
      
      font-size:11px;
      line-height:11px;
      font-weight:normal;
      font-family:'Lucida Grande', 'Lucida Sans Unicode';
      color:#747474; }
      
    #location #placemark {
      position:absolute;
      top:0px; left:0px;
      width:19px; height:19px;
      background:url(../i/ui-location-cap-left.png) no-repeat;
      cursor:pointer; }
      
    #location #refresh {
      position:absolute;
      top:0px; right:0px;
      width:19px; height:19px;
      background:url(../i/ui-location-cap-right.png) no-repeat;
      cursor:pointer; }
    
    #location:hover input[type=text] {
      color:#aaa; }
      
    #location.focused input[type=text] {
      color:#cfcfcf; } 
      
    #location.focused #placemark, #location.focused #refresh, #location.focused input[type=text] {
      background-position:0px -19px; }

  #top-buttons {
    position:absolute;
    top:3px; right:0px; }
    
    #publish, #preview, #logout {
      display:block;
      float:right;
      height:23px; width:67px;
      margin-right:8px;
      text-indent:-9999px;
      background:url(../i/btn-publish.png) no-repeat; }
      
    #publish:hover, #preview:hover, #logout:hover {
      background-position:0px -23px; }
      
    #preview {
      width:64px;
      margin-right:6px;
      background:url(../i/btn-preview.png) no-repeat; }
      
    #logout { display:none; }


#sidebar {
  position:absolute;
  top:30px; bottom:0px; left:0px;
  width:199px;
  background:#d1d1d1;
  border-right:1px #a0a0a0 solid;
  z-index:900; }
  
  #sidebar ul.tabs {
    border-top:3px #bbb solid;
    padding-top:1px;
    background:#8c8c8c; }
  
    #sidebar ul.tabs li.tab {
      position:relative;
      width:auto; height:23px;
      background:url(../i/tab-bg.png) repeat-x;
      cursor:default; }
    
    #sidebar ul.tabs li.tab:hover {
      background-position:0px -23px; }
  
    #sidebar ul.tabs li.tab.selected {
      background-position:0px -46px !important; }
    
    
      #sidebar ul.tabs li.tab .text {
        position:absolute;
        top:0px; left:28px;
        color:#2f2f2f;
        font-size:11px;
        font-weight:bold;
        text-shadow:0px 1px 0px rgba(255,255,255,0.8);
        line-height:23px; }
        
        .tab-editor .text {
          left:33px !important; }
      
      #sidebar ul.tabs li.tab.selected .text {
        color:#ead9f3;
        text-shadow:0px -1px 0px rgba(0,0,0,0.7); }
    
      #sidebar ul.tabs li.tab .point {
        display:none; }
    
      #sidebar ul.tabs li.tab.selected .point {
        display:block;
        position:absolute;
        top:0px; right:-10px;
        width:10px; height:23px;
        background:url(../i/tab-point.png) no-repeat; }
        
      #sidebar ul.tabs li.tab .icon {
        position:absolute;
        top:3px; left:7px;
        width:16px; height:16px;
        background-position:0px 0px;
        background-repeat:no-repeat; }
      
      #sidebar ul.tabs li.tab.selected .icon {
        background-position:0px -16px; }
        
        .tab-editor .icon {
          left:12px !important; }
      
      #sidebar ul.tabs li.tab-editor .icon {
        background-image:url(../i/icn-edit.png); }
        
        
      #sidebar ul.tabs li.tab-browser .icon {
        background-image:url(../i/icn-browse.png); }
  
#main {
  background:#fff;
  position:absolute;
  top:30px; bottom:0px;
  left:200px; right:0px;
  overflow:hidden; }
  
  #main #content {
    position:absolute;
    top:0px; left:0px;
    width:100%; height:100%;
    overflow-x:hidden;
    overflow-y:scroll; }

#console {
  position:absolute;
  top:-200px; left:0px;
  width:100%; height:200px;
  background:#222;
  z-index:99000;
  color:#fff; }
  
  #elephants {
    display:block;
    display:none;
    position:absolute;
    width:89px; height:73px;
    bottom:0px; right:-100px; }
    
  #console .history {
    position:absolute;
    top:0px; bottom:20px;
    left:0px; right:0px;
    font-family:Monaco;
/*    overflow-y:auto; */
    overflow:hidden; }
    
    #console .history li.command {
      margin-bottom:10px;
      padding:10px 5px;
      border-top:1px #333 solid; }
      
      #console .history span.command {
        color:#999;
        padding-left:5px; }
      
      #console .history .caret {
        color:#555; }
      
      #console .history .result {
        padding-left:13px; }
    
  #console .input {
    position:absolute;
    bottom:0px; left:0px; right:0px;
    height:20px;
    font-family:monospace;
    border-top:1px #444 solid; }
    
    #console .input input {
      display:block;
      position:absolute;
      top:0px; left:20px; right:0px;
      height:17px;
      outline:none;
      border:none;
      background:transparent;
      color:#ccc; }
    
    #console .input .caret {
      position:absolute;
      top:0px;
      left:6px;
      color:#666;
      font-weight:bold;
      line-height:20px; }
      
  #console-scrollbar {
    position:absolute;
    top:5px; right:0px; bottom:25px;
    opacity:0.25;
    width:35px; }
  
    #console-scrollbar .handle {
      position:absolute;
      right:5px; left:auto;
      background:#fff;
      opacity:0;
      height:50%; width:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px; }
  
  #console-resize {
    display:none;
    position:absolute;
    bottom:0px; left:0px; right:0px;
    height:3px;
    border-bottom:1px #000 solid;
    background:transparent;
    cursor:row-resize;
    z-index:99900; }
  
  #console-resize:focus {
    cursor:row-resize; }
    
#bubbles {
  position:absolute;
  top:68px; right:22px;
  z-index:99900; }
  
  #bubbles .bubble {
    position:relative;
    width:200px;
    min-height:16px;
    margin-bottom:8px;
    padding:14px 16px;
    line-height:16px;
    background:#222;
    color:#fff;
    opacity:0.95;
    -webkit-border-radius:2px;
    -moz-border-radious:2px;
    border-radius:2px;
    border:1px #000 solid; }
    
    #bubbles .bubble a.close {
      display:block;
      position:absolute;
      top:3px; right:5px;
      color:#ccc;
      text-decoration:none;
      font-size:12px;
      line-height:12px; }
      
.panel {
  position:absolute;
  top:0px; bottom:0px;
  left:0px; right:0px; }
  
  .browser {
    position:absolute;
    top:0px; bottom:0px;
    left:0px; right:0px;
    overflow:auto; }
    
    .browser .toolbar {
      position:absolute;
/*      bottom:-1px; left:0px; right:0px;*/
      top:-1px; left:0px; right:0px;
      height:30px;
      background:#e7e7e7;
      border-top:1px #a0a0a0 solid;
      border-bottom:1px #a0a0a0 solid; }
    
    .browser .grid {
      position:absolute;
/*      top:0px; right:0px; bottom:36px; left:0px;*/
      top:31px; right:0px; bottom:0px; left:0px;
      overflow:auto; }
    
      .browser .grid li {
        float:left;
        position:relative;
        width:60px; height:60px;
        margin:10px 0px 0px 10px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        border:1px transparent solid; }
        
      .browser .grid li.selected {
        border:1px #432057 solid;
/*        border:1px #9022cb solid;*/
        background:rgba(103,55,127, 0.7); }
/*        background:rgba(162,48,224,0.6); } */
      
        .browser .grid li .icon {
          position:absolute;
          top:5%; left:15%;
          width:70%; height:70%; }
          
          .browser .grid li .icon img {
            width:100%; }
          
        .browser .grid li .name {
          position:absolute;
          top:75%; left:0px;
          width:100%;
          text-align:center; }
          
          .name input[type=text] {
            width:96%;
            padding:3px 0px;
            margin:-2px auto;
            background:rgba(255,255,255,0.9);
            border:1px #9022cb solid;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
            text-align:center;
            outline:none; }
          
        .browser .grid li.selected .name {
          text-shadow:0px -1px 0px #5D3A70;
          color:#fff; }
  
  .edit-toolbar {
    position:absolute;
    left:0px; right:0px; bottom:0px;
    height:36px;
    border-top:1px #989898 solid;
    background:#e7e7e7; }
  
  .editor {
    position:absolute;
    top:0px; left:0px; right:0px;
    bottom:37px;
    padding-left:24px;
    overflow-y:auto; }
    
    .editor .title {
      padding:20px 0px 6px;
      border-bottom:1px #e5e5e5 solid; }
      
      .editor .title h1 {
        font-size:21px;
        font-weight:bold;
        color:#191919; }
        
    .editor ul.properties {}
      
      .editor ul.properties li {
        position:relative;
        width:auto;
        padding:15px 261px 15px 0px;
        border-bottom:1px #e5e5e5 solid; }
      
      .editor ul.properties li:last-child {
        border:none; }
        
      .editor ul.properties li .widget {
        width:100%; }
        
        .editor ul.properties li .widget input[type=text],
        .editor ul.properties li .widget textarea {
          width:100%;
          display:block;
          padding:5px 10px;
          margin-left:-10px;
          border-radius:3px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
          border:1px #b5b5b5 solid;
          background:#fff; }
        
        .editor ul.properties li .widget input[type=text]:focus,
        .editor ul.properties li .widget textarea:focus {
          outline:none;
          border-color:#9d44e1;
          box-shadow:0px 0px 3px rgba(57, 5, 97, 0.7);
          -moz-box-shadow:0px 0px 3px rgba(57, 5, 97, 0.7);
          -webkit-box-shadow:0px 0px 0px 4px rgba(57, 5, 97, 0.7); }
        
        .editor ul.properties li .widget textarea {
          height:185px; }
          
      .editor ul.properties li .info {
        position:absolute;
        top:10px; right:30px;
        width:195px; }
      
        .editor ul.properties li .info h3 {
          font-weight:bold;
          color:#454545; }
        
        .editor ul.properties li .info p {
          color: #919191 }


  button {
    padding:6px 8px;
    font-size:10px;
    line-height:9px;
    color:#eee;
    font-weight:bold;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px #343434 solid;
    background-color:#222222;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), color-stop(0.47, rgba(255,255,255,0.2)), color-stop(0.53, rgba(0,0,0,0.1)), to(rgba(0,0,0,0.2)));
    box-shadow:-1px 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:-1px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:-1px 2px 2px rgba(0,0,0,0.3); }
  
  button.light {
    padding:5px 7px;
    color:#222;
    border:1px #999 solid;
    background-color:#e7e7e7;
    box-shadow:0px 0px 0px 1px rgba(255,255,255,0.8);
    -webkit-box-shadow:0px 0px 2px rgba(255,255,255,1);
    -moz-box-shadow:0px 0px 0px 1px rgba(255,255,255,0.8); }
  
    button.light span.down-arrow {
      display:inline-block;
      width:8px; height:8px;
      margin-left:2px;
      text-indent:-9999px;
      background:url(../i/icn-down-arrow.png) no-repeat center 3px; }

  button:hover {
    color:#fff;
    background-color:#69477b;
    border:1px #552f69 solid; }
    
  button.light:hover {
    color:#222;
    background-color:#e7e7e7;
    border:1px #999 solid; }

  button:active {
    margin:1px 1px 0px 0px;
    box-shadow:0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3); }
  
  button.light:active, button.light.active {
    background-color:#bbb;
    border:1px #666 solid;
    margin:0px;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    background-image:
      -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), color-stop(0.47, rgba(255,255,255,0.2)), color-stop(0.53, rgba(0,0,0,0.1)), to(rgba(0,0,0,0.2))),
      -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 20, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1))); }


  .slider {
    margin-top:10px;
    position:relative;
    width:100px;
    height:3px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    background-color:#999;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, to(rgba(255,255,255,0.4)), from(rgba(0,0,0,0.2)));
    border:1px #777 solid;
    cursor:default; }
  
  .browser .toolbar .slider {
    margin-top:7px; }

    .slider .handle {
      position:absolute;
      top:-4px; left:0px;
      width:9px; height:9px;
      color:#666;
      background:#eee;
      border:1px #999 solid;
      text-align:center;
      font-weight:bold;
      font-size:14px;
      line-height:8px;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      box-shadow:0px 1px 1px rgba(0,0,0,0.3);
      -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.3);
      -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.3);
      cursor:default; }
    
    .slider .handle:hover {
      color:#69477b; }
  

  .dropdown {
    position:absolute;
    padding:7px 0px;
    min-width:150px;
    background:#222;
    background:rgba(34,34,34,0.95);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    z-index:9000; }
    
  .dropdown.absolute {
    padding-bottom:14px; }
  
    .dropdown li {
      padding:0px 8px;
      color:#ccc;
      width:auto;
      background:transparent;
      cursor:default; }
      
    .dropdown.absolute li {
      padding:0px 16px; }
    
    .dropdown li.header {
      color:#999; }
      
    .dropdown li.break {
      height:1px;
      line-height:1px;
      margin:2px 0px;
      border-top:1px #555 solid; }
    
    .dropdown li.hover {
      color:#fff;
      background:rgba(255,255,255,0.3); }
    
    .dropdown li:active {
      color:#fff;
      background:#664378; }
      

.modal {
  position:absolute;
  top:10%; left:400px;
  width:500px; height:400px;
  
  background: rgba(17,17,17,0.9);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:0px 10px 50px rgba(0,0,0,0.65);
  -moz-box-shadow:0px 10px 50px rgba(0,0,0,0.65);
  -webkit-box-shadow:0px 10px 50px rgba(0,0,0,0.65);
  z-index:30000; }

.modal.headless.mac {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0; }
  
.modal.headless.pc {
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0; }
  
  .modal .modal-close {
    position:absolute;
    top:0px; left:0px;
    background:transparent;
    border:none;
    color:#a0a0a0;
    font-size:18px;
    font-family:arial;
    line-height:16px;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    text-shadow:0px -1px 0px #000;
    -webkit-text-shadow:0px -1px 0px #000;
    -moz-text-shadow:0px -1px 0px #000;
    cursor:pointer; }
  
  .modal .modal-close:hover {
    color:#eee; }
    
  .modal.pc .modal-close {
    padding:5px 7px;
    left:auto; right:0px; }
    
  .modal.mac.headless .modal-close {
    left:-27px;
    background:rgba(17,17,17,0.9);
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0; }
    
  .modal.pc.headless .modal-close {
    left:auto; right:-23px;
    background:rgba(17,17,17,0.9);
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0; }
    
    
  .modal .inner {
    position:absolute;
    top:24px; bottom:35px;
    left:6px; right:6px; }
    
  .modal.headless .inner {
    top:6px; }
    
  .modal .toolbar {
    position:absolute;
    bottom:6px; left:6px; right:6px;
    height:35px; }
    
  .modal .titlebar {
    position:absolute;
    top:6px; right:32px; left:32px;
    font-size:12px;
    color:#aaa;
    text-align:center;
    text-shadow:0px -1px 0px #000;
    -webkit-text-shadow:0px -1px 0px #000;
    -moz-text-shadow:0px -1px 0px #000;
    cursor:default; }
    
  .modal .modal-resize {
    position:absolute;
    bottom:2px; right:2px;
    width:11px; height:11px;
    background:url(../i/modal-resize-grip.png) no-repeat;
    text-indent:-9999px; }








